.question {
    text-align: center;
    margin: 32px auto;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 10px;
    background-color: #0f0c29;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 8px 0;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 16px;
}

.answer:hover {
    background-color: rgba(110,123,251,1);
}

.score {
    font-weight: bold;
    position: absolute;
    bottom: 16px;
    left: 32px;
}
